{% extends "base.html" %}

{% block content %}
<h3>Defined Alerts</h3>
    <div class='table-responsive'>
        <table class='table table-striped table-bordered table-hover table-sm'>
            <thead class='table-success'>
                <tr>
                    <th>Node Name</th>
                    <th>Metric</th>
                    <th>Min Value</th>
                    <th>Max Value</th>
                    <th>Active</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>        
            </thead>
            <tbody>
            {% if object_list %}
                {% for alert in object_list %}
                    <tr>
                        <td>{{ alert.node_name }}</td>
                        <td>{{ alert.data_type }}</td>
                        <td>{{ alert.min_value }}</td>
                        <td>{{ alert.max_value }}</td>
                        {% if alert.active %}
                            <td><i class="fa fa-check text-success" aria-hidden='true'></i></td>
                        {% else %}
                            <td><i class="fa fa-close text-danger" aria-hidden='true'></i></td>
                        {% endif %}
                        <td><a href="{% url 'alerts-edit' pk=alert.pk %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
                        <td><a href="{% url 'alerts-delete' pk=alert.pk %}"><i class="fa fa-eraser text-danger" aria-hidden="true"></i></a></td>
                    </tr>
                    <tr>
                        <td class="text-lg-center" colspan="7"><a href="{% url 'alerts-new' %}">Add new alert</a></td>
                    </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="6">No alerts defined</td>
                    <td><a href="{% url 'alerts-new' %}">Add New Alert</a></td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}
